.outer-container
  .login-container.mx-2
    .login-title
      = image_tag 'logo-vert-white', {class: 'logo'}
    .login-subtitle
      %h6 Login to continue to Senate Portal
    = form_tag({action: :authenticate}, {class: 'login'}) do
      = text_field_tag 'netid', nil, class: 'form-control mb-1', placeholder: 'NetID', id: 'username'
      .login-input-group
        = password_field_tag 'password', nil, class: 'form-control', placeholder: 'NetID Password', id: 'password'
        %button{type: 'submit'}
          %span.fas.fa-arrow-alt-circle-right
