%h1 Roster
= form_for User.new, class: 'form-inline' do |f|
  .p
.table-responsive
  %table.table
    %tr
      %th Seat Type
      %th Affiliation Name
      %th Representative
    - @affiliations.each do |affiliation|
      %tr
        %td= affiliation.type.name
        %td= affiliation.name
        %td= affiliation_user affiliation
