%h1 Roster
= form_for User.new, class: 'form-inline' do |f|
  .p
.table-responsive
  %table.table
    %tr
      %th Seat Type
      %th Affiliation Name
      %th Representative
    - @affiliations.each do |a|
      %tr
        %td= a.type.name
        %td= a.name
        %td= a.user.nil? ? content_tag(:span, 'None', class: 'text-muted') : a.user.name
