%h1 Terms
.item-listing.add
  = link_to(controller: :terms, action: :new) do
    %span.fas.fa-plus-circle
    Add a Term
- @terms.each do |term|
  = render partial: 'shared/term', locals: {term: term}