%h1 Documents
%div
  .item-listing.add
    = link_to(controller: :documents, action: :new) do
      %span.fas.fa-plus-circle
      Add a Document
- @documents_typed.each do |type, documents|
  %h3= type.name
  %div
    - documents.each do |document|
      = render partial: 'shared/document', locals: {document: document, not_voting: true}