// Place all the styles related to the Documents controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'color';

div.voting, div.admin {
  input[type="submit"], input[type="submit"][disabled], input[type="submit"][disabled]:hover {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;

    cursor: not-allowed;

    transition: background-color 0.15s, color 0.15s;

    background-color: $nu-purple-4;
    color: $nu-purple-2;
  }

  input[type="submit"]:not([disabled]) {
    color: $nu-purple-5;
    background-color: $nu-purple-1;
    cursor: pointer;
  }

  input[type="submit"]:not([disabled]):hover {
   background-color: $nu-purple-3;
  }

  input[type="submit"].user_vote, input[type="submit"].user_vote:hover, input[disabled][type="submit"].user_vote,
  input[disabled][type="submit"].user_vote:hover {
    background-color: $asg-blue;
    color: #222;
  }

  ~ div.result {
    margin-top: 10px;
    color: $nu-black-2;
  }

  display: flex;
  justify-content: space-between;
}